
{
  "singleQuote": true,
  "jsxSingleQuote": true,
  "printWidth": 79,
  "trailingComma": "none",
  "overrides": [
    {
      "files": [
        "*.js",
        "*.jsx",
        "*.ts",
        "*.tsx"
      ],
      "options": {
        "tabWidth": 2
      }
    },
    {
      "files": [
        "*.css",
        "*.scss",
        "*.sass"
      ],
      "options": {
        "tabWidth": 4
      }
    }
  ]
}
